* {
	margin:0; 
    padding:0;
}
 
nav {
    margin:auto;
    text-align: center;
    width: 100%;
    font-family: arial;
} 
    
nav ul {
	background:#37988e;
    padding: 0 20px;
    list-style: none;
    position: relative;
    display: inline-table;
    width: 100%;
}

nav ul li{
    float:left;
}

nav ul li:hover{
    background:#d68d9a;
}

nav ul li:hover a{
    color:#000;
}

nav ul li a{
    display: block;
    padding: 25px;
    color: #fff;
    text-decoration: none;
}

.jadwal td {
  padding: 15px;
  text-align: center;
}

.bg {
  border: 1px solid black;
  padding: 20px;
  border-radius: 30px;
  background-color: #00FFFF;
  width: 600px;
  height: 100px;
}

img {
  width: 120px; 
  height: 120px;
  border: 3px solid #ddd; 
  border-radius: 50%; 
  border: 1px solid black;
  margin-left: 20px;
